{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Katalogas
            </div>
        </div>
    </div>
{% endblock %}