{% extends 'base.html.twig' %}

{% block title %}
    Product categories {{ sku }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
Product categories.
{{ sku }}

<form method="post" action="{{ path('gt.catalog.product_categories', {sku:sku}) }}">
    <label for="categories">Categories:</label><textarea id="categories" name="categories"
    >{{ categoriesCodesStr }}</textarea>
    <button type="submit" >Update</button>
</form>
        </div>
    </div>
</div>
{% endblock %}