
{%if message is not empty %}
    <h3 style="color:red">{{ message }}</h3>
{% endif %}
{% for m in messages %}
    <p style="color:red">{{ m }}</p>
{% endfor %}
{% for s in suggestions %}
    <p style="color:blue">{{ s }}</p>
{% endfor %}


{{ form(form) }}