{% extends 'admin_base.html.twig' %}

{% block title %}
    Import products
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Import products{% endtrans %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Stulpeliai:</p>
                <ul>
                    <li><b>sku</b></li>
                    <li>last_update</li>
                    <li>version</li>
                    <li>brand</li>
                    <li>line</li>
                    <li>parent_sku</li>
                    <li>origin_country_code</li>
                    <li>vendor</li>
                    <li>manufacturer</li>
                    <li>type</li>
                    <li>purpose</li>
                    <li>measure</li>
                    <li>color</li>
                    <li>for_male</li>
                    <li>for_female</li>
                    <li>size</li>
                    <li>pack_size</li>
                    <li>pack_amount</li>
                    <li>weight</li>
                    <li>length</li>
                    <li>height</li>
                    <li>width</li>
                    <li>delivery_time</li>
                    <li>delivery_time</li>
                    <li>google_product_category_id</li>
                    <li>priority</li>
                    <li>ingredients</li>
                    <li><b>language</b></li>
                    <li>name</li>
                    <li>short_description</li>
                    <li>description</li>
                    <li>label</li>
                    <li>label_size</li>
                    <li>variant_name</li>
                    <li>info_provider</li>
                    <li>tags</li>
                    <li>categories (codes separated with spaces)</li>
                    <li>categories_del (codes separated with spaces)</li>
                </ul>
                <form method="post" enctype="multipart/form-data" action="{{ path('gt.catalog.import_products') }}" class="col-xs-12">
                    <div class="row form-group">
                        <label for="csvfile" class="col-xs-2 control-label">
                            CSV failas
                        </label>
                        <div class="col-xs-10">
                            <input type="file" name="csvfile" class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="delimiter" class="col-xs-2 control-label">
                            Pasirinkite CSV skyriklį
                        </label>
                        <div class="col-xs-10">
                            <select name="delimiter" id="delimiter" class="form-control">
                                <option value=",">Kablelis (,)</option>
                                <option value=";">Kabliataškis (;)</option>
                            </select>
                        </div>
                    </div>
                    <p>
                    <input type="submit" name="import" value="Importuoti" class="btn btn-primary"/>
                    <input type="submit" name="import_classificators" value="Importuoti klasifikatorius" class="btn btn-primary"/><br/>
                    </p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}