<div>
    <p>Stulpeliai:</p>
    <ul>
        <li><b>sku</b></li>
        <li>last_update</li>
        <li>version</li>
        <li>brand</li>
        <li>line</li>
        <li>parent_sku</li>
        <li>origin_country</li>
        <li>vendor</li>
        <li>manufacturer</li>
        <li>type</li>
        <li>measure</li>
        <li>color</li>
        <li>for_male</li>
        <li>for_female</li>
        <li>size</li>
        <li>pack_size</li>
        <li>pack_amount</li>
        <li>weight</li>
        <li>length</li>
        <li>height</li>
        <li>width</li>
        <li>delivery_time</li>
        <li><b>language</b></li>
        <li>name</li>
        <li>description</li>
        <li>label</li>
        <li>variant_name</li>
        <li>info_provider</li>
        <li>tags</li>

    </ul>
</div>

<form method="post" enctype="multipart/form-data" action="{{ path('gt.catalog.import_products') }}">
    <input type="file" name="csvfile" />
    <input type="submit" name="import" value="Importuoti" />
</form>