{% extends 'admin_base.html.twig' %}
{% block title %}{% trans %}Languages{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Languages{% endtrans %}</h1>
                <div class="mb-3">
                    <a href="{{ path('gt.catalog.language_new') }}"
                       class="btn btn-primary">{% trans %}Add new language{% endtrans %}</a>
                </div>

                {{ tableHtml|raw }}
            </div>
        </div>
    </div>
{% endblock %}