{% extends 'base.html.twig' %}
{% block title %}{% trans %}Add a new language{% endtrans %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
    <h1>{% trans %}Add a new language{% endtrans %} </h1>

    {{ form_start(languageForm) }}
        {{ form_widget(languageForm) }}

        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    {{ form_end(languageForm) }}
            </div>
        </div>
    </div>
{% endblock %}