{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a new language! </h1>

    {{ form_start(languageForm) }}
        {{ form_widget(languageForm) }}

        <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(languageForm) }}
{% endblock %}