{% extends 'admin_base.html.twig' %}

{% block title %}
    Categories Tree
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Categories tree{% endtrans %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% for item in treeItems %}
                        <li style="margin-left: {{ item.level_depth }}cm"><a href="{{ path('gt.catalog.categories', {search_category: item.id_category}) }}">{{ item.id_category }} {{ item.name }}</a>  </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}