{% extends 'admin_base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form(filterForm) }}
            </div>
            <div class="col-md-12">
                <div>
                    <a href="{{ path('gt.catalog.users_add_form') }}">Add</a>
                </div>

                {{ tableHtml|raw }}
            </div>
        </div>
    </div>
{% endblock %}