{% extends 'admin_base.html.twig' %}
{% block title %}{% trans %}Classificators Import Form{% endtrans %}{% endblock %}

{% block body %}
<div>
    <p>Stulpeliai:</p>
    <ul>
        <li><strong>code</strong></li>
        <li>language</li>
        <li>name</li>
        <li><strong>group</strong></li>
        <li>customs_code</li>

    </ul>
</div>

<form method="post" enctype="multipart/form-data" action="{{ path('gt.catalog.classificators.import') }}">
    <input type="file" name="csvfile" />
    <input type="submit" name="import" value="Importuoti" />
    <label for="language">Kalba</label><select id="language" name="language">
        {% for l in languages %}
            <option value="{{ l.code  }}">{{  l.name }}</option>
        {% endfor %}
    </select>
</form>
{% endblock %}