{% extends 'admin_base.html.twig' %}
{% block title %}{% trans %}Classificators Import Form{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans %}Import classificators{% endtrans %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Stulpeliai:</p>
            <ul>
                <li><strong>code</strong></li>
                <li><strong>language</strong></li>
                <li>name</li>
                <li><strong>classificator_group</strong></li>
                <li>customs_code</li>
            </ul>

            <form method="post" enctype="multipart/form-data" action="{{ path('gt.catalog.classificators.import') }}">
                <input type="file" name="csvfile" />
                <input type="submit" name="import" value="Importuoti" />
            </form>
        </div>
    </div>
</div>
{% endblock %}