{% extends 'admin_base.html.twig' %}
{% block title %}{% trans %}Classificators{% endtrans %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Classificators{% endtrans %}</h1>
            </div>
        </div>

        {% include '@Catalog/classificators/filter_form.html.twig' %}

        <div class="row">
            <div class="col-md-12">
                {{ tableHtml|raw }}
            </div>
        </div>
    </div>
{% endblock %}