{% extends 'admin_base.html.twig' %}
{% block title %}{% trans %}Classificators{% endtrans %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Classificators{% endtrans %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="{{ path('gt.catalog.classificators.import_form') }}">Import</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form(form) }}

                {{ tableHtml|raw }}
            </div>
        </div>
    </div>
{% endblock %}