{{ form(form) }}

<table>
{% for c in classificators %}
    <tr>
        <td>{{ c.code }}</td>
        <td>{{ c.group.name }}</td>
        <td><a href="#">TODO</a></td>
    </tr>
{% endfor %}
</table>
