{% extends 'admin_base.html.twig' %}

{% block title %}Pictures jobs list{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add import job</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>

            </form>
        </div>
    </div>
</div>
{% endblock %}