{% extends 'admin_base.html.twig' %}

{% block title %}Pictures jobs list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Pictures import job{% endtrans %}</h1>
            </div>
        </div>

        {% include '@Catalog/jobs/filter_form.html.twig' %}

        <div class="row">
            <div class="col-md-12">
                {{ tableHtml|raw }}
            </div>
        </div>
    </div>
{% endblock %}