{% extends 'admin_base.html.twig' %}

{% block title %}Pictures jobs list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Pictures import job{% endtrans %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ form(filterForm) }}
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div>
                    <a href="{{ path('gt.catalog.job_add_form') }}">Add</a>
                </div>

                {{ tableHtml|raw }}
            </div>
        </div>
    </div>
{% endblock %}