{% extends 'admin_base.html.twig' %}

{% block title %}{% trans %}Edit classificator group{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}Edit classificator group{% endtrans %} </h1>
                {{ form_start(classificatorGroupForm) }}
                {{ form_widget(classificatorGroupForm) }}

                <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                {{ form_end(classificatorGroupForm) }}
            </div>
        </div>
    </div>
{% endblock %}